*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cardc{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: cyan;

}
.card{
  border: 1px solid blue;
  padding: 2rem;
  background-color: yellowgreen;

}
img{
  width:"50%"; 
  height:"50%"
}